
/*Arial*/
@font-face {
    font-family: 'Arial';
    src: url('ArialMT.eot');
    src: url('ArialMT.eot?#iefix') format('embedded-opentype'),
        url('ArialMT.woff2') format('woff2'),
        url('ArialMT.woff') format('woff'),
        url('ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Mo zhara*/
@font-face {
    font-family: 'Ma Shan Zheng';
    src: url('MaShanZheng-Regular.eot');
    src: url('MaShanZheng-Regular.eot?#iefix') format('embedded-opentype'),
        url('MaShanZheng-Regular.woff2') format('woff2'),
        url('MaShanZheng-Regular.woff') format('woff'),
        url('MaShanZheng-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




/*Lobster*/
@font-face {
    font-family: 'Lobster';
    src: url('Lobster-Regular.eot');
    src: url('Lobster-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lobster-Regular.woff2') format('woff2'),
        url('Lobster-Regular.woff') format('woff'),
        url('Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


