

body,html{
	width: 100%;
	height: 100%;
	background: #f1f2f6;
}
html{
	 font-family: 'Arial';
	 scroll-behavior: smooth;

}
.display-inline-block{
	display: inline-block;
}
.d-block{
	display: block;
}
/*Start Header*/

.logo{
	position: fixed;
	float: left;
	margin: 16px 36px;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
}
.logo a{
	color: white;
}
nav{
	position: fixed;
	width: 100%;
	z-index: 99999999999;
	background: #7ed6df;
}
nav ul{
	list-style: none;
	background: rgba(0,0,0,0);
	overflow: hidden;
	color: #fff;
	padding: 0;
	text-align: center;
	margin: 0;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
nav ul li{
	display: inline-block;
	padding: 20px;
	transition: 1s;
}
nav ul li:hover{
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
.menu-icon{
	width: 100%;
	background: #7ed6df;
	text-align: right;
	padding: 15px 24px;
	cursor: pointer;
	color: #fff;
	display: none;
}
/*End Header*/

/*Landing Page*/
.main-page-section{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-image: url(../images/couples.png);
	background-position: top;
	background-repeat: no-repeat;
	-o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 20;
}s
.main-page-p{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	color: #0074D9;
	font-size: 30px;
	font-weight: bold;
	-webkit-animation: flash 2s;
	        animation: flash 2s;
}
.land-page-form{
	z-index: 40;
	background: white;
	position: absolute;
	bottom: 0px;
	left: 50%;
	-webkit-transform: translate(-50%);
	    -ms-transform: translate(-50%);
	        transform: translate(-50%);
	max-width: 1200px;
	width: 100%;
	height: 130px;
	border:1px solid white;
	-webkit-box-shadow: 0 2px 4px #403131;
	        box-shadow: 0 2px 4px #403131;
}
.land-page-div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.find-adventure{
	padding-top: 20px;
	padding-left:20px;
	font-size: 20px;
	text-transform: uppercase;
}
.find-adventure input{
	margin-top: 10px;
	width: 170px;
	height: 35px;
	padding: 0 10px;
	cursor: pointer;
	font-size: 15px;
}
.activity{
	padding-top: 20px;
	font-size: 20px;
	text-transform: uppercase;
}
.activity select{
	margin-top: 10px;
	width: 170px;
	height: 35px;
	font-size: 15px;
}
.departs-between{
	padding-top: 20px;
	padding-right: 20px;
	font-size: 20px;
	text-transform: uppercase;
}
.departs-between input{
	margin-top: 10px;
	width: 130px;
	height: 35px;
	font-size: 15px;
}
.landing-page-buttom{
	margin-top: 26px;
	margin-right: 100px;
}
.landing-page-buttom button{
	width: 150px;
	height: 50px;
	background: #57bfcf;
	border-radius: 10px;
}

/*End Landing Page*/
/*About Us */
.about-us{
	width: 100%;
	padding-top: 80px;
	padding-bottom: 50px;
}
.about-us h1{
	font-size: 25px;
	text-align: center;
	font-family: 'Lobster', cursive;
}
/*about-us h1:after{
	content: '';
	display: none;
	width: 100px;
	height: 3px;
	background-color: black;
	margin-left: 50%;
	transform: translate(-50%);
	margin-top: 5px;
	transform: 0.5s;
}
.about-us h1:hover:after{
	display: block;
	transform-origin: left;
}*/
.about-us p{
	margin-top: 50px;
	font-size: 24px;
	margin-left: 50px;
	text-align: center;
	font-family: 'Lobster', cursive;
}

/*End About Us */

/*Section Box*/

.offers-h1{
	margin: 40 0px;
	text-align: center;
	font-size: 25px;
	font-family: 'Lobster', cursive;
}
.section-box{
	width: 100%;
	background-color: #dfe4ea;
	padding: 80px 80px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.display-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.div-box{
	margin-top: 50px;
	margin-left: 10px;
	width: 350px;
	height: 450px;
	background: #ced6e0;
	border-radius: 10px;
}
.thailand-img{
	width: 100%;
	height: 250px;
	border-radius: 10px;
}
.thailand-h3{
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}
.thailand-p{
	font-size: 18px;
	padding: 5px 10px;
	text-align: center;
}
.thailand-buttom{
	background-image: -o-linear-gradient(right, #C4E538, #009432, #C4E538);
	background-image: -webkit-gradient(linear, right top, left top, from(#C4E538), color-stop(#009432), to(#C4E538));
	background-image: linear-gradient(to left, #C4E538, #009432, #C4E538);
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}
.japan-buttom{
	background-image: -o-linear-gradient(right, #FDA7DF, #9980FA, #FDA7DF);
	background-image: -webkit-gradient(linear, right top, left top, from(#FDA7DF), color-stop(#9980FA), to(#FDA7DF));
	background-image: linear-gradient(to left, #FDA7DF, #9980FA, #FDA7DF);
	-webkit-transition:0.6s;
	-o-transition:0.6s;
	transition:0.6s;
}
.buttom-main{
	border-radius: 4px;
	text-align: center;
	width: 150px;
	height: 50px;
	margin-top: 20px;
	margin-left: 50%;
	-webkit-transform: translate(-50%);
	    -ms-transform: translate(-50%);
	        transform: translate(-50%);
	cursor: pointer;
	background-size: 200%;
}
.china-buttom{
	background-image: -o-linear-gradient(right, #FFC312, #EE5A24, #FFC312);
	background-image: -webkit-gradient(linear, right top, left top, from(#FFC312), color-stop(#EE5A24), to(#FFC312));
	background-image: linear-gradient(to left, #FFC312, #EE5A24, #FFC312);
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}
.South-Korea-Buttom{
	background-image: -o-linear-gradient(right, #fbc2eb 0%, #a6c1ee 50%, #fbc2eb 100%);
	background-image: -webkit-gradient(linear, right top, left top, from(#fbc2eb), color-stop(50%, #a6c1ee), to(#fbc2eb));
	background-image: linear-gradient(to left, #fbc2eb 0%, #a6c1ee 50%, #fbc2eb 100%);
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}
.Philippines-buttom{
	background-image: -o-linear-gradient(330deg, #84fab0 0%, #8fd3f4 50%, #84fab0 100%);
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 50%, #84fab0 100%);
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}
.india-buttom{
	background-image: -o-linear-gradient(right, #12CBC4, #0652DD, #12CBC4);
	background-image: -webkit-gradient(linear, right top, left top, from(#12CBC4), color-stop(#0652DD), to(#12CBC4));
	background-image: linear-gradient(to left, #12CBC4, #0652DD, #12CBC4);
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}
.thailand-buttom:hover,
.japan-buttom:hover,
.china-buttom:hover,
.South-Korea-Buttom:hover,
.Philippines-buttom:hover,
.india-buttom:hover{
	background-position: right;
}
/*End Section Box*/
/*Start Question Section*/

.questions-section{
	padding: 80px 0 30px 0;
	width: 100%;
}
.questions-section h2{
	text-align: center;
	font-size: 25px;
	margin-bottom: 70px;
	font-family: 'Lobster', cursive;

}
.question-div2{
	max-width: 600px;
	width: 100%;
	margin: 0 10px;
	background: #ced6e0;;
	margin-bottom: 35px;
	padding: 30px 30px;
	border-radius: 8px;
}
.question-div2 h4{
	font-size: 23px;
	color: #7f8c8d;
	font-weight: bolder;
	font-family: 'Lobster', cursive;

}
.question-div2 p{
	margin-top: 20px;
	font-size: 15px;
	color: #95a5a6;
}
.learn-more-button{
	width: 150px;
	line-height: 50px;
	border:2px solid #7ed6df;
	font-size: 17px;
	-webkit-transition: 5s;
	-o-transition: 5s;
	transition: 5s;
	margin-left: 50%;
	-webkit-transform: translate(-50%);
	    -ms-transform: translate(-50%);
	        transform: translate(-50%);
	cursor: pointer;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	border-radius: 4px;
	font-family: 'Lobster', cursive;

}
.learn-more-button:hover{
	background: #7ed6df;
	color: white;
}


/*End Question Section*/
/*Opinions Section*/
.users-opinions{
	width: 100%;
	padding-top: 80px;
	padding-bottom: 40px;
	text-align: center;
}
.users-opinions h2{
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 50px;
	font-family: 'Lobster', cursive;
}
.opinions-div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.opinions-div div{
	margin-top: 30px;
	margin: 0 15px;
	margin-bottom: 30px;
	padding: 0 30px;
	max-width: 300px;
	width: 100%;
	height: 200px;
	background: white;
	border-radius: 6px;
	-webkit-box-shadow: 10px 10px 10px 10px #403131;
	        box-shadow: 10px 10px 10px 10px #403131;
}
.opinions-div div p{
	margin-top: 50px;
	font-size: 17px;
	font-family: 'Lobster', cursive;
	line-height: 22px;
}
.opinions-div div h5{
	margin-top: 20px;
	font-size: 13px;
	color: blue;
}
.opinions-div div h6{
	margin-top: 10px;
	font-size: 12px;
	color:gray;
}


/*End Opinions Section*/
/*Footer*/
.footer{
	padding: 80px 10px 40px 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	background: white;
	background: #d1d8e0;;
}
.footer-contact-div{

}
.footer div h2{
	font-weight: bold;
}
.social-p{
	margin-top: 10px;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: bold;
}
.social-div{
	margin: 10px auto;
}
.social-ul{
	margin-top: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;

}
.social-li{
	margin-left: 6px;
	width: 20px;
	height: 30px;
}
.icons{
	font-size: 30px;
	margin-left: 10px;
}
.icon-div{
	margin-top: 11px;
	display: block;
}
.footer-div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.footer-ul{
	margin-left: 15px;
}
.footer-ul li{
	line-height: 26px;
	font-size: 16px;
	cursor: pointer;
}
.color-li{
	font-weight: bolder;
}

/*End Footer*/

/*Respomsive*/

@media only screen and (max-width: 1055px) {
  .activity {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
	.logo{
		position: fixed;
		top: 0;
		margin-top: 16px
	}
	nav ul{
		max-height: 0px;
		background: #7ed6df;
	}
	.showing{
		max-height: 20em;
	}
	nav ul li{
		width: 100%;
		padding: 24px 0;
		text-align: center;
	}
	.menu-icon{
		display: block;
		background: #7ed6df;
	}
	.footer{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.footer-ul:last-child{
		margin-top: 30px;
		margin-left: 60px;
		
	}
}
@media only screen and (max-width: 860px) {
  .land-page-form {
    display: none;
  }
  .footer-ul:last-child{
		
	}
    .footer-ul:nth-child(1){
		
	}
	.footer-contact-div{
		margin-bottom: 30px;
	}
}
/*End Responsive*/
/*start page2*/
.thailand-trip1{
	background-image: url("../images2/First-img.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.thailand-trip2{
	background-image: url("../images2/Second-img.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.thailand-trip3{
	background-image: url("../images2/Third-img.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.thailand-trip4{
	background-image: url("../images2/Fourth-img.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.thailand-trip5{
	background-image: url("../images2/First-img.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.thailand-trip1 h1,
.thailand-trip2 h1,
.thailand-trip3 h1,
.thailand-trip4 h1,
.thailand-trip5 h1{
		font-size: 60px;
		margin-bottom: 150px;
		background: white;
		border: 2px ridge black;

}
.thailand-trip1 h2,
.thailand-trip2 h2,
.thailand-trip3 h2,
.thailand-trip4 h2,
.thailand-trip5 h2{
		font-size: 30px;
		margin-bottom: 18px;
		background: white;

}
.thailand-trip1 h3,
.thailand-trip2 h3,
.thailand-trip3 h3,
.thailand-trip4 h3,
.thailand-trip5 h3{
		font-size: 30px;
		margin-bottom: 18px;
		background: white;

}
.thailand-trip1 h4,
.thailand-trip2 h4,
.thailand-trip3 h4,
.thailand-trip4 h4,
.thailand-trip5 h4{
		font-size: 30px;
		margin: 0 40px;
		background: white;

}


/*End page2*/


/*aniamtions*/

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}